/* main color palette */
:root {
    --text-primary: white;
    --text-secondary: #C7D4D6;
    --background-primary: #505639;
    --background-secondary: #2c473a;
    --error: #7a6a44;
    --light-accent: #7d5f4e;
    --dark-accent: #414d43;

    font-family: monaco, monospace;
}

.member-content {
    color: var(--text-primary);
    background-color: var(--background-primary  );
}

.home-content {
    color: var(--text-primary);
    background-color: var(--background-primary);
}
table {
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 30px;
}
td, th {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}

.errorMessage {
    background-color: var(--error);
    font-weight: bold;
    width: 300px;
}
.errorMessage:hover {
    padding: 0.25rem;
    border-style: outset;
}

.navbar, a {
    text-decoration: none;
    color: var(--text-primary)
}

.link:hover {
    text-decoration: underline;
    text-size-adjust: 5%;
    text-decoration-color: var(--text-secondary)
}

button {
    padding: 0.5rem;
    margin-top: 1em;
    border-style: none;
    border-radius: 0.25rem;
    color: var(--text-primary);
    background-color: var(--background-secondary);
}

button:hover {
    transform: scale(1.1);
    border-style: outset;
    border-radius: 0.35rem;
}

hr.navbar {
    border-color: var(--background-secondary);
    background-color: var(--background-secondary);
    border-style: solid;
    color: var(--background-secondary);
    height: 1px;
}

.input {
    padding: 0.25rem;
    width: 300px;
}

#colorTable {
    width: 80%;
}
#dropDownCell {
    width: 20%;
}
#colorCell {
    width: 80%;
}
#dropDownMenu {
    width: 90%;
}

#alphabetTableCell {
    width: 30px;
    height: 30px;
}

.colorList {
    top:150px;
    left:350px;
    position:fixed;
}

.colorErrorMessage {
    background-color: var(--error);
    font-weight: bold;
    width: 300px;
    top:100px;
    left:350px;
    position:fixed;
}
.colorErrorMessage:hover {
    padding: 0.25rem;
    border-style: outset;
}